<h1>All of the links!</h1>

<h2>Search:</h2>
<input type="text" id="searchBar">

<h2>New Link</h2>
<%= form_for(@link_decorator.link) do |f| %>
  <%= f.label :url, 'URL' %>
  <%= f.text_field :url %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit 'Submit' %>
<% end %>

<ul class="links">
  <% if @link_decorator.links.empty? %>
    <p>No links submitted</p>
  <% else %>
    <% @link_decorator.links.each do |link| %>
      <li data-id="<%= link.id %>" class="read-<%= link.read %>">
        <h2>
          <%= link_to link.title, link.url, id: 'linkTitle' %>
          <%= link_to 'Mark as Read', '#', id: 'markAsRead' %>
          <%= link_to 'Mark as Unread', '#', id: 'markAsUnread' %>
          <%= link_to 'Edit', edit_link_path(link) %>
        </h2>
        <h3 id="readStatus">Read: <%= link.read %></h3>
      </li>
    <% end %>
  <% end %>
</ul>
