<!DOCTYPE html>
<html>
<head>
  <title>Thoughtbox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header' %>

  <% flash.each do |type, msg| %>
    <%= content_tag :msg, msg, class: "flash-#{type}" %>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
